<% layout("/layouts/boilerplate") %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      <h1 class="display-1">
        <%= statusCode %>
      </h1>
      <p class="lead">
        <%= message %>
      </p>
    </div>
  </div>